@{
    ViewData["Title"] = "Welcome!";
}
<style>
    body {
        background-color: #f0eeed;
    }
</style>

<body>
    <br /><br />
    <div style="text-align:center"><img src="https://doziermillerlaw.com/wp-content/uploads/2019/03/Stop-Domestic-Violence-Logo.png" alt="No to domestic violence" /></div>
    <br /><br /><br /><br />
    <div style="text-align:center">
        <h2>
            Welcome to Domestic Violence API! This API is developed in ASP.NET Core and uses Machine Learning to determine
            how much violence is present in a given text. Please check the Github link below to find the API documenation.<br>
        </h2>
        <h3><a href="https://github.com/yzeirbaku/Capstone">Github</a></h3>
    </div>
</body>
