@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<style>
    body {
        background-color: #FFFCFC;
    }
</style>

<hr />
<body>

    <address>
        Yzeir Baku<br />
        Aalborg, Denmark<br />
        +905545550100
    </address>

    <address>
        <strong>Email:</strong> <a href="mailto:Support@example.com">capstone.yzeir@hotmail.com</a><br />
    </address>

</body>
