@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-color: #FFFCFC;
    }
</style>

<div class="jumbotron" style="text-align:center; height:170px; margin-top:-20px">
    <b style="font-size:22px; margin-top:-40px">
        Welcome to Domestic Violence API! This API is developed in ASP.NET Core and uses Machine Learning to determine
        how much violence is present in a given text with the aim of detecting domestic violence cases.
    </b>
</div>

<body onbeforeunload="Confirm()" onunload="Confirm()">
    <div style="text-align:center; height:360px">
        <img src="https://doziermillerlaw.com/wp-content/uploads/2019/03/Stop-Domestic-Violence-Logo.png" alt="No to domestic violence" height="320" width="640" />
    </div>
</body>

<script type='text/javascript'>
    function Confirm() {
        @TempData.Remove("ApiKey");
    }
</script>
