@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-color: #FFFCFC;
    }
</style>

<body onbeforeunload="Confirm()" onunload="Confirm()">
    <br /><br />
    <div style="text-align:center; height:370px">
        <img src="https://doziermillerlaw.com/wp-content/uploads/2019/03/Stop-Domestic-Violence-Logo.png" alt="No to domestic violence" height="330" width="650" />
    </div>
    <br />
    <div style="text-align:center; margin-bottom:10px">
        <a style="font-size: 1.7em; font-weight:bold; color: black; text-decoration:none">
            Welcome to Domestic Violence API! This API is developed in ASP.NET Core and uses Machine Learning to determine
            how much violence is present in a given text with the aim of detecting domestic violence cases.
            <br>
        </a>
    </div>
</body>

<script type='text/javascript'>
    function Confirm() {
        @TempData.Remove("ApiKey");
    }
</script>
