@model DomesticViolenceWebApp.Models.Admin

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Raw(TempData["unauthorized"])

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>Club Login</title>
    <style>
        #login-div {
            align-content: center;
            position: center;
            left: 10%;
            right: 20%;
            border: 1px solid #ccc;
            padding: 60px 380px;
            margin-top: 20px;
            margin-bottom: 20px;
            height: 500px;
            background-color: #FFFCFC;
            border: 3px double #0F6B8D;
        }

        #textbox {
            border-radius: 5px;
            height: 34px;
            position: relative;
            border: 1px solid #cdcdcd;
            border-color: #008CBA;
            background-color: AliceBlue;
            font-size: 14px;
        }

        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 4px 67px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            border-radius: 6px;
            margin: 4px 2px;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            cursor: pointer;
        }

        .button2 {
            background-color: white;
            color: black;
            border: 2px solid #9DCCDE;
        }

            .button2:hover {
                background-color: #52B0D2;
                color: white;
            }

        table {
            border-collapse: separate;
            border-spacing: 0 2px;
        }
    </style>
</head>
<body>

    <div id="login-div">
        @using (Html.BeginForm("Authorize", "Login", FormMethod.Post))
        {
            <table>
                <tr>
                    <td colspan="2" style="font-weight:600; font-size:40px; text-align:right; padding-top:35px; padding-left:60px">Admin Login</td>
                </tr>
                <tr>
                    <td><br /></td>
                    <td><br /></td>
                </tr>
                <tr>
                    <td>
                        <br />
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <b style="font-size:17px;">Mail</b>
                        <br />
                    </td>
                    <td style="padding-top:2px; padding-left:8px">
                        @Html.EditorFor(model => model.Mail,
                        new { htmlAttributes = new { @id = "textbox" } })
                        <br />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <b style="font-size:17px">Password</b>
                        <br />
                    </td>
                    <td style="padding-top:2px; padding-left:8px">
                        @Html.EditorFor(model => model.Password,
                        new { htmlAttributes = new { @id = "textbox" } })
                        <br />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td style="color:red; padding-top:2px; padding-left:16px">
                        @Html.DisplayFor(x => x.loginError)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td style="padding-top:3px; padding-left:6px">
                        <button type="submit" name="name" class="button button2">Login</button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td style="padding-top:1px; padding-left:6px">
                        <button type="reset" name="name" value="Clear" class="button button2" style="margin-top:-4px">Clear</button>
                    </td>
                </tr>
            </table>
        }

    </div>

</body>
</html>



